<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054115371186-al6qc9p33mpimdpkjk5ojdlndj6dk9or.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054115371186-al6qc9p33mpimdpkjk5ojdlndj6dk9or</string>
	<key>API_KEY</key>
	<string>AIzaSyCNlw3L0NtCHtEKF9dM5oGplT7PI6mfERY</string>
	<key>GCM_SENDER_ID</key>
	<string>1054115371186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.bitfx.bitfx-application</string>
	<key>PROJECT_ID</key>
	<string>bitfx-4e7df</string>
	<key>STORAGE_BUCKET</key>
	<string>bitfx-4e7df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054115371186:ios:ca3da3c3e3517ee75e11ab</string>
</dict>
</plist>